/*
Billy Mills
CSCI 344
project3.css
April 4, 2012
*/


html {
	height: 100%;
}

h1,h4 {
	font-family: 'Permanent Marker', cursive;
	color: black;
}

/*
#links {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
*/

body {
	background-color: #3f3f3f;
  	height: 100%;
  	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.container {
	background-color: white;
	border-right, border-left: 3px solid black;
}

#main {
	min-height: 100%;
	padding: 20px;
}