/*
Billy Mills
CSCI 344
project3.css
April 4, 2012
*/


html {
	height: 100%;
}

/*stuff for title_div4 in in p*/
p {
	color:black;
	/*font-size: 25px;
	color: white;
	line-height: 80px;*/
}

#buzz {
	font-size: 25px;
	color: white;
	line-height: 80px;
}

h1 {
	font-size: 60px; /*font size for buncombe brews*/
	color: white;
	line-height: 80px;
}

.view_header {
	font-family: 'Slackey', cursive;
	color:black;
	font-size:20px;
	line-height:20px;
}

h2,h3,h4 {	
	/*font-family: 'Sigmar One', sans-serif;
	font-family: 'Miltonian Tattoo', cursive;
	font-family: 'Permanent Marker', cursive;*/
	color: white;
}

#links {
	color: black;
	padding-left:10px;
	padding-bottom:50px;
	min-height: 100%;
}

body {
	background-image: url(/images/side_bar.jpg); 
	background-repeat: repeat-x;
	background-color: white;
	/*background-color: #eea100; /*color that shows as sidebars*/
	/*background-color: #bcdeff;*/
	/*background-color: #d4d9de;*/
  	height: 100%;
  	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.container {
	background-image: url(/images/buncombe_brews_wallpaper_tile.jpg); 
	background-repeat: repeat-x;
	background-color: #eea100; /*color that shows as sidebars*/
	/*background-color: #e8b48e; color that shows in central portion*/
	/*background-color: white;*/
	border-right: 2px solid black;
	border-left: 2px solid black;
	
}

#main {
	min-height: 100%;
	padding-top: 50px; /*other padding elements in title_div*/
	padding-bottom: 20px;
	position:relative; /*positioning necessary for absolute positioning of children*/
}

#title_div {
	/*font-family: 'Fredericka the Great', cursive;*/
	font-family: 'Slackey', cursive;
	color: white;
	background-color: black;
	position:relative;
	top: 0px;
	left: -50px;
	height: 80px;
	width: 465px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#title_div2 {
	font-family: 'Slackey', cursive;
	color: white;
	background-color: black;
	position:relative;
	top: 0px;
	left: -75px;
	height: 80px;
	width: 300px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#title_div3 {
	font-family: 'Slackey', cursive;
	color: white;
	background-color: black;
	position:relative;
	top: 0px;
	left: 25px;
	height: 80px;
	width: 250px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#title_div4 {
	font-family: 'Slackey', cursive;
	color: white;
	background-color: black;
	position:relative;
	top: 0px;
	left: -50px;
	height: 80px;
	width: 450px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
}




#footer_par {
	line-height: 30px;	
	font-size: 25px;
	color: white;
}

#footer_div {
	font-family: 'Slackey', cursive;	
	color: white;
	background-color: black;
	position:absolute; /*absolute with respect to parent div*/
	height:30px;
	bottom: 100px; /*keeps div in page*/
	right: 25px;
	width: 600px;
	padding:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#getting_started {
	color: black;
	position: absolute;
	top:150px;
	right:-50px;
	height: 300px;
	width: 450px;
	background-color: white;
	padding: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid black;
}

img {
	vertical-align:middle;
	height:100%;
	/*width:auto;*/
}

#image_div {
	height:150px;
}

a, #link_header {
	color: black;
}