
<h4>Here are a few to try:</h4>
<a href = 'word/awesome'>awesome</a><br>
<a href = 'word/cool'>cool</a><br>
<a href = 'word/rad'>rad</a><br>
<a href = 'word/gnarly'>gnarly</a><br>
<a href = 'word/groovy'>groovy</a>