
<h4 id="link_header">Here are a few to try:</h4>
<a href = 'word/beer'>Asheville Breweries</a>
<br>
<a href = 'workd/pisgah'>Pisgah Brewing</a>
<br>
<a href = 'workd/craggie'>Craggie Mountain</a>
<br>
<a href = 'workd/wedge'>The Wedge</a>


<!--
<div id="search_contents">
	<h1>What are you interested in?</h1> 
    <input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
	 Added drop-down list, Shuo Zhang 
	<select id="brewlist">
		<option>Brew1</option>
		<option>Brew2</option>
		<option>Brew3</option>
		<option>Brew4</option>
	</select> 
	<button id="search_button" class="btn">Go!</button>
</div>
--->