<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
			<!--
		<scripts src = '/public/stylesheets/something.css'>
			-->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/project3.css">
	</head>

	<body>
		<div id="main" class="container">
			<div id="title_div">
				<h1>buncombebrews</h1>
				<p>get the buzz on Asheville's brew scene</p>
				<!--
				<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
    			<button id="search_button" class="btn">Go!</button><br>
    			-->
    		</div>
    		
    		<br>
    		<br>
    		<div id="links">
			<%- body %> <!-- view goes here -->	
			</div>
			<div id="footer_div">
    		</div>
		</div>	
	</body>	
</html>