<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/project3.css">
	</head>

	<body>
		<div id="main" class="container">
			<div class="row">
				<div id="title_div" class="span10">
					<h1>buncombe</h1>
					
					<!--
					<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
    				<button id="search_button" class="btn">Go!</button><br>
    				-->
    			</div>
    			<div class="span2 offset1">
    				<div id="image_div" class="img">
    					<img src="/images/bb_logo.png" alt="buncombe brews"/>
    				</div>
    			</div>
    		</div>
    		
    		<div id="title_div2">
    			<h1>brews</h1>
    		</div>
    		<br>
    		<div id="title_div3">
    			<h1>.com</h1>
    		</div>
    		<br>
    		<div id="title_div4">
    			<p>get the buzz on Asheville's brew scene</p>
    		</div>
    		
    		<br>
    		<br>
    		<div id="links">
				<%- body %> <!-- view goes here -->	
			</div>
			<div id="footer_div">
				<p>links go here eventually</p>
    		</div>
		</div>	
	</body>	
</html>