<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
		<!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>-->
		<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>	
		<link rel="stylesheet" href="/stylesheets/project3.css">
		<script src="scripts/lib/spotter.js"></script>
	</head>

	<body>
		<div id="main" class="container">
			<!--<div class="row">-->
				<div id="title_div" class="span10">
					<h1>Buncombe</h1>
					
					<!--
					<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
    				<button id="search_button" class="btn">Go!</button><br>
    				-->
    			</div>
    			<!--
    			<div class="span2 offset1">
    				<div id="image_div" class="img">
    					<img src="/images/bb_logo.png" alt="buncombe brews"/>
    				</div>
    			</div>
    			-->
    		<!--</div>-->
    		<br>
    		<div id="title_div2">
    			<h1>Brews</h1>
    		</div>
    		<br>
    		<div id="title_div3">
    			<h1>.com</h1>
    		</div>
    		<br>
    		<div id="title_div4">
    			<p id="buzz">the buzz on Asheville's brew</p>
    		</div>
    		
    		<br>
    		<br>

			<div id="footer_div">
				<p id="footer_par">links go here eventually</p>
    		</div>
    		
    		<div id="getting_started">
    			<%- body %>
    		</div>
		</div>	
	</body>	
</html>

<!--
<div id="bars">
    		<select>
    			<option value="Asheville Bars">Asheville Bars</option>
  				<option value="prospect">prospect</option>
  				<option value="yacht club">yacht club</option>
  				<option value="thirsty monk">thirsty monk</option>
  				<option value="De Soto">de soto</option>
			</select>
			
			<div id="breweries">
    		<select>
    			<option value="Asheville Breweries">Asheville Breweries</option>
  				<option value="Asheville Brewing Company">Asheville Brewing Company</option>
  				<option value="The Wedge">The Wedge</option>
  				<option value="Pisgah">Pisgah</option>
  				<option value="Craggie">Craggie</option>
			</select>
			</div>
			<div id = "search">
						<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
    					<button id="search_button" class="btn">Go!</button><br>
    				</div>
    				
    				<div id="search_box">
				<div id="search_contents">
					<h1>What are you interested in?</h1>
    				<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
					<!--- Added drop-down list, Shuo Zhang--->
					<select id="brewlist">
						<option>Brew1</option>
						<option>Brew2</option>
						<option>Brew3</option>
						<option>Brew4</option>
					</select> 
					<!--- --->
    				<button id="search_button" class="btn">Go!</button>
    			</div>
-->