<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
			<!--
		<scripts src = '/public/stylesheets/something.css'>
			-->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/project3.css">
	</head>

	<body>
		<div id="main" class="container">
			<h1>80s tripendicular words</h1>
			<p>What's your favorite 80s word?</p>
				<!--
			<input type="text" class = "input-medium" placeholder="Enter a search term" id="term"/>
    		<button id="search_button" class="btn">Go!</button><br>
    			-->
    		<br>
    		<br>
			<%- body %> <!-- view goes here -->	
		</div>	
	</body>	
</html>